In [1]:
import pandas as pd

In [3]:
# url = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/" 
url = "https://www.ss.com/lv/real-estate/homes-summer-residences/riga-region/all/sell/"
# notice how we can specify some parameters in the url

In [4]:
# pandas can do some web scraping as long as there are tables
dfs = pd.read_html(url, header=0) # i know that i want the first row to server for column names
type(dfs)

list

In [5]:
len(dfs) # why list and why such length ?
# well ss.com was made in early 2000s when tables were used for everything

11

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html
# pandas reads tables by default ALL tables on the page

In [6]:
# df = dfs[4] # the 5th table on our page has our info
df = dfs[8] # 9th table for our riga region houses
df.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Pagasts,m2,Stāvi,Zem. pl.,Cena
0,NaN,NaN,Tiek pārdota omulīga privātmāja Gaujā. Ir veik...,Carnikavas nov.Gauja,210,2,1000 m²,"160,000 €"
1,NaN,NaN,Pārdodu zemes gabala domājamo daļu 750 kv. m. ...,Mārupes pag.Mārupe,203,2,750 m²,"135,000 €"
2,NaN,NaN,Kārtīgi celta māja ar sakoptu dārzu un siltumn...,Saulkrasti,85,2,580 m²,"46,800 €"
3,NaN,NaN,Pārdod māju Katlakalnā. Māja atrodas lieliskā ...,Ķekavas pag.Katlakalns,278,2,1200 m²,"265,000 €"
4,NaN,NaN,Дом у озера в Букулты на продажу Планировка: -...,Garkalnes nov.Bukulti,590,3,1900 m²,"349,000 €"

In [7]:
df.shape

(30, 8)

In [7]:
df.to_json("center.json")

In [8]:
df.to_excel("center.xlsx")

In [6]:
url2 = "https://www.ss.com/lv/real-estate/flats/riga/centre/sell/page2.html"

In [7]:
dflist = pd.read_html(url2, header=0)
len(dflist)

7

In [8]:
dflist[4].head() # getting start of 5th table from our 2nd html page

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,Tiek pārdots divu istabu dzīvoklis Klusajā cen...,Dzirnavu 6,2,56,1/5,Renov.,"2,500 €","140,000 €"
1,NaN,NaN,Tiek pārdots 4 istabu dzīvoklis Klusajā centrā...,Dzirnavu 6,4,97,2/4,Renov.,"2,371 €","230,000 €"
2,NaN,NaN,Pārdod trīsistabu dzīvokli jaunājā projektā pr...,Rūpniecības 50,3,80,3/7,Jaun.,"2,000 €","160,000 €"
3,NaN,NaN,Īpašnieks pārdod plašu trīsistabu dzīvokli Rīg...,Lāčplēša 47,3,88,2/5,P. kara,"2,233 €","196,500 €"
4,NaN,NaN,"3D tūre, izstaigā dzīvokli, esot mājās. Links ...",Krasta 11,3,69,2/6,Renov.,"1,590 €","109,700 €"

In [9]:
bigdf = pd.concat([df, dflist[4]]) # concat creates a new dataframe from an iterable! of dataframes
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html
bigdf.head()

,Sludinājumi \tdatums,Sludinājumi \tdatums.1,Sludinājumi \tdatums.2,Iela,Ist.,m2,Stāvs,Sērija,"Cena, m2",Cena
0,NaN,NaN,"Īpašnieks pārdod gaišu, siltu, plašu dzīvokli ...",Hanzas 4,4,114,6/6,P. kara,"1,404 €","160,000 €"
1,NaN,NaN,"Dzīvokli- renovētā ēkā, puspagraba stāvā, Mier...",Miera 5,2,56,1/6,Renov.,897 €,"50,220 €"
2,NaN,NaN,3 - istabu dzīvoklis fasādes mājas 2. stāvā ar...,Matīsa 41,3,70,2/6,P. kara,"1,786 €","125,000 €"
3,NaN,NaN,"Ksulains un plašs dzīvoklis ""Skanstes Parkā"" D...",Grostonas 19,2,62,5/10,Jaun.,"2,419 €","150,000 €"
4,NaN,NaN,Investīcijas piedāvājums. Ēkas energoefektivit...,Stabu 100,2,41,2/7,Jaun.,"2,239 €","91,800 €"

In [10]:
df.shape, dflist[4].shape, bigdf.shape

((30, 10), (30, 10), (60, 10))

In [11]:
bigdf.to_excel("riga_center_60.xlsx")

In [ ]:
# so if we know the last page of

In [ ]:
# Challenge how to automatically get all pages no matter how many ads?
# how to scrape web address for each ad (in case we want to look in to the ad more in depth)